<h1>Cereals</h1>

<table class="table" cellpadding="3">
    <tr>
        <th>Name</th>
        <th>Manu.</th>
        <th>Type</th>
        <th>Cals</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Sodium</th>
        <th>Fiber</th>
        <th>Carbs</th>
        <th>Sugar</th>
        <th>K</th>
        <th>Vitamins</th>
        <th>Shelf</th>
        <th>Weight</th>
        <th>Cups</th>
        <th>Rating</th>
    </tr>

    @foreach (var cereal in Model)
    {
        <tr>
            <td>@cereal.Name</td>
            <td>@cereal.Mfr</td>
            <td>@cereal.Type</td>
            <td>@cereal.Calories</td>
            <td>@cereal.Protein</td>
            <td>@cereal.Fat</td>
            <td>@cereal.Sodium</td>
            <td>@cereal.Fiber</td>
            <td>@cereal.Carbo</td>
            <td>@cereal.Sugars</td>
            <td>@cereal.Potass</td>
            <td>@cereal.Vitamins</td>
            <td>@cereal.Shelf</td>
            <td>@cereal.Weight</td>
            <td>@cereal.Cups</td>
            <td>@cereal.Rating</td>
        </tr>
    }

</table>
