@model ECommerceApp.Models.ProductListViewModel

@{ ViewData["Title"] = "Product List"; }

<h1>Product List</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>}

@foreach (var item in Model.Products)
{
    <div class="row">
        <div class="col-sm-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Price)</h6>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a class="card-link" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <text>|</text> <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    }
                    <a class="card-link" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="card-link" asp-action="Add to Cart" asp-route-id="@item.Id">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12">
        @if (Model.PageNumber > 1)
        {
            <a asp-route-perPage="@Model.ProductsPerPage" asp-route-pageNum="@(Model.PageNumber - 1)">Prev</a>
        }
        Page @Model.PageNumber of @Model.NumberOfPages
        @if (Model.PageNumber < Model.NumberOfPages)
        {
            <a asp-route-perPage="@Model.ProductsPerPage" asp-route-pageNum="@(Model.PageNumber + 1)">Next</a>
        }
    </div>
</div>